@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* montserrat-600 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v23-latin-ext_latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v23-latin-ext_latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v23-latin-ext_latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v23-latin-ext_latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v23-latin-ext_latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v23-latin-ext_latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v23-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v23-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v23-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v23-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v23-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v23-latin-ext_latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-800 - latin-ext_latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v23-latin-ext_latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/montserrat-v23-latin-ext_latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v23-latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v23-latin-ext_latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v23-latin-ext_latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v23-latin-ext_latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.h-screen {
	height: 100vh;
	height: -webkit-fill-available;
}

body {
	min-height: 100vh;
	/* fix for mobile browsers */
	min-height: -webkit-fill-available;
	@apply bg-background-900 text-white/80 font-body;
}

html {
	height: -webkit-fill-available;
  scroll-behavior: smooth;
}

.text-gradient {
  color: #ff5adc;

	@supports (background-clip: text) {
	  color: transparent;
		background-image: linear-gradient(90deg, #ff5adc, #3943b7, #ff5adc);
    background-size: 200% 100%;
		background-clip: text;
  }
}

.text-gradient-animated {
  @apply text-gradient;

  animation: gradient 10s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 200% 0%;
  }

  50% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}
